# è¯»/å†™ excel

æ¬¢è¿å¤§å®¶å›åˆ° Machine Learning Diary~ğŸ‘

ä»Šå¤©è¿™èŠ‚è¯¾ä¸»è¦å¸¦å¤§å®¶ç†Ÿæ‚‰ä¸€ä¸‹æ€ä¹ˆä½¿ç”¨pythonæ¥æ“ä½œExcelæ–‡ä»¶ã€‚åŸºæœ¬ä¸ŠExcelçš„å¤„ç†ä¸DataFrameæ ¼å¼æ˜¯åˆ†ä¸å¼€çš„ï¼Œå¯ä»¥ç†è§£ä¸ºDataFrameå°±æ˜¯Excelåœ¨pythoné‡Œçš„ä¸€ç§è¡¨ç°å½¢å¼ã€‚

æ‰“å¼€Jupyterï¼Œé¦–å…ˆæŒ‰ç…§ä¸ŠèŠ‚è¯¾æ•™çš„è‡ªå·±ç”Ÿæˆä¸€ä¸ªDataFrameï¼š

In [45]:
import pandas as pd

## åˆ›å»ºDataFrame ##
df = pd.DataFrame({'col1':[1,2,3,4], 'col2':[4,5,6,7], 'col3':[7,8,9,10]})
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     7    10

æ¥ä¸‹æ¥å°è¯•æŠŠè¿™ä¸ªdataframeä¿å­˜æˆä¸€ä¸ªexcelæ–‡ä»¶ï¼Œé¦–å…ˆè¦ç¡®å®šæ–‡ä»¶ä¿å­˜çš„è·¯å¾„ã€‚æˆ‘ä»¬å…ˆæ¥æŸ¥çœ‹ä¸‹å½“å‰è·¯å¾„ï¼š

In [23]:
import os
path = os.path.dirname(os.path.abspath('__file__'))  # æŸ¥çœ‹å½“å‰æ–‡ä»¶çš„è·¯å¾„
# path = os.getcwd()                                 # æŸ¥çœ‹è·¯å¾„çš„å¦ä¸€ç§æ–¹å¼
print(path)

D:\cwzy\Girls-In-AI\machine_learning_diary\base\read_write

ä¸Šé¢çš„è¿™ä¸ª"D:\cwzy\Girls-In-AI\machine_learning_diary\base\read_write"å°±æ˜¯æˆ‘å½“å‰è¿™ä¸ªjupyteræ–‡ä»¶çš„å½“å‰è·¯å¾„ã€‚

ç°åœ¨æˆ‘è¦æŠŠdfä¿å­˜åˆ°ç›¸åŒçš„è·¯å¾„ä¸‹é¢ï¼Œä½¿ç”¨to_excel()å°±å¯ä»¥ï¼Œåœ¨æ‹¬å·å†…å†™ä¸Šä½ æƒ³ä¿å­˜çš„æ–‡ä»¶åï¼š

In [19]:
df.to_excel('dataframe.xlsx')

è¿è¡Œå®Œä¸Šä¸€å¥ä¹‹åï¼Œæ‰“å¼€"D:\cwzy\Girls-In-AI\machine_learning_diary\base\read_write"è·¯å¾„ä¸‹æŸ¥çœ‹ï¼Œå·²ç»å‡ºç°"dataframe.xlsx"ï¼Œæ‰“å¼€excelæ–‡ä»¶åé‡Œé¢çš„å†…å®¹å°±æ˜¯åˆšåˆšç”Ÿæˆçš„è¡¨æ ¼æ•°æ®ã€‚å½“ç„¶ä½ çš„è·¯å¾„å¯èƒ½è·Ÿæˆ‘çš„ä¸ä¸€æ ·ï¼Œæ‰“å¼€ä½ å¯¹åº”çš„è·¯å¾„å°±å¯ä»¥äº†ã€‚

å¦‚æœä½ éœ€è¦åˆ‡æ¢è·¯å¾„ï¼Œå…ˆä½¿ç”¨os.chdiræ¥åˆ‡æ¢æ–‡ä»¶å¤¹ï¼Œæ¯”å¦‚ä½ æƒ³æŠŠè¡¨æ ¼ä¿å­˜åˆ°æ¡Œé¢ï¼Œè¿è¡Œä¸‹é¢ä»£ç ï¼š

In [37]:
os.chdir("C:/Users/ZhangYi/Desktop")  # è¿™é‡Œæ¢ä¸Šä½ çš„æ¡Œé¢è·¯å¾„
df.to_excel('dataframe.xlsx')

è¿è¡Œä¹‹åï¼Œä½ åˆ°æ¡Œé¢å°±èƒ½çœ‹è§åˆšåˆšç”Ÿæˆçš„excelæ–‡ä»¶äº†ã€‚

å¥½äº†ï¼Œç°åœ¨ä½ å·²ç»çŸ¥é“å¦‚ä½•ä¿å­˜ä¸€ä¸ªexcelæ–‡ä»¶äº†ã€‚æ¥ä¸‹æ¥å°è¯•è¯»å–ä¸€ä¸ªexcelï¼Œå¾ˆç®€å•ï¼Œä½¿ç”¨pandasåŒ…çš„read_excel()å‡½æ•°å°±å¯ä»¥äº†ï¼Œåœ¨æ‹¬å·å†…å†™ä¸Šä½ æƒ³è¯»å–çš„excelè·¯å¾„åï¼š

In [47]:
df2 = pd.read_excel('dataframe.xlsx')  # è¯»å–åˆšæ‰åœ¨æ¡Œé¢ç”Ÿæˆçš„excelæ–‡ä»¶
df2

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     7    10

æ­¤æ—¶ï¼Œè¿™ä¸ªexcelå·²ç»è¯»è¿›äº†pythoné‡Œé¢ï¼Œä¸ä¹‹å‰çš„dfè™½ç„¶é•¿çš„ä¸€æ ·ï¼Œä½†å·²ç»æ˜¯ä¸¤ä¸ªè¡¨æ ¼äº†ã€‚æˆ‘ä»¬æ¥å°è¯•å¯¹è¿™ä¸ªdf2åšäº›æ”¹å˜ï¼š

In [33]:
print('å¢åŠ ä¸€åˆ—ï¼š col4ï¼Œä½¿æ•°å€¼ä¸º1')
df2['col4'] = 1
print(df2,'\n')
print('å°†ç¬¬ä¸€åˆ—çš„ç¬¬4ä¸ªæ•°æ”¹æˆ0')
df2['col1'][3] = 0
print(df2)

å¢åŠ ä¸€åˆ—ï¼š col4ï¼Œä½¿æ•°å€¼ä¸º1
   col1  col2  col3  col4
0     1     4     7     1
1     2     5     8     1
2     3     6     9     1
3     4     7    10     1

å°†ç¬¬ä¸€åˆ—çš„ç¬¬4ä¸ªæ•°æ”¹æˆ0
   col1  col2  col3  col4
0     1     4     7     1
1     2     5     8     1
2     3     6     9     1
3     0     7    10     1

å¯ä»¥å°è¯•æŠŠdf2å†ä¿å­˜åˆ°æ¡Œé¢ï¼Œå¦‚æœæ–‡ä»¶åä¸å˜çš„è¯ï¼Œå°†è¦†ç›–æ‰dfï¼š

In [34]:
df2.to_excel('dataframe.xlsx')

æ­¤æ—¶ä½ å†åˆ°æ¡Œé¢æ‰“å¼€"dataframe.xlsx"ï¼Œé‡Œé¢çš„å†…å®¹å·²ç»è¢«ä¿®æ”¹äº†ã€‚

é™¤äº†excelï¼ŒDataFrameè¿˜å¯ä»¥ä¿å­˜æˆ.csvæ ¼å¼ã€‚CSVæ˜¯ä¸€ä¸ªéå¸¸å¸¸è§ä¹Ÿéå¸¸é‡è¦çš„è¡¨æ ¼æ ¼å¼ï¼Œä¸".xlsx"å·®ä¸å¤šã€‚æˆ‘ä»¬æ¥ç®€å•æ„Ÿå—ä¸€ä¸‹è¯»å†™CSVã€‚ä¹‹åä¹Ÿæ˜¯ä¼šç»å¸¸ä¸å®ƒè§é¢çš„ã€‚


# è¯»/å†™ csv

å°†åˆšæ‰çš„df2ä¿å­˜æˆcsvæ ¼å¼ï¼Œä½¿ç”¨to_csv()ï¼Œå¹¶ä¸”æ‹¬å·é‡Œæ–‡ä»¶çš„åç¼€ä¹Ÿéœ€è¦ä¿®æ”¹ï¼š

In [39]:
df2.to_csv('df2.csv')

æ­¤æ—¶æ¡Œé¢å·²ç»æœ‰äº†df2.csvæ–‡ä»¶ï¼Œæ˜¯ä¸æ˜¯å¾ˆç®€å•ã€‚åŒæ ·çš„ï¼Œæˆ‘ä»¬å†æ¥å°è¯•è¯»å–è¿™ä¸ªcsvæ–‡ä»¶ï¼š

In [48]:
df3 = pd.read_csv('df2.csv')
df3

   Unnamed: 0  col1  col2  col3  col4
0           0     1     4     7     1
1           1     2     5     8     1
2           2     3     6     9     1
3           3     0     7    10     1

æˆ‘è¿™é‡Œçš„ç”¨csvè¯»å–çš„dfå¤šå¢åŠ äº†Unnamed: 0è¿™ä¸€åˆ—ã€‚æˆ‘ä½¿ç”¨list(df)æ¥æ£€æŸ¥ä¸‹åˆ—åï¼š

In [51]:
list(df3)

['Unnamed: 0', 'col1', 'col2', 'col3', 'col4']

çš„ç¡®ä»4åˆ—å˜æˆäº†5åˆ—ï¼Œæ˜¯å› ä¸ºæŠŠindexç´¢å¼•é‚£ä¸€åˆ—ä¹Ÿå˜æˆäº†çœŸæ­£çš„ä¸€åˆ—ï¼Œå› æ­¤æˆ‘è¦æŠŠè¿™æ²¡ç”¨çš„ä¸€åˆ—åˆ æ‰ï¼š

In [54]:
df3 = df3.drop('Unnamed: 0',1)
df3

   col1  col2  col3  col4
0     1     4     7     1
1     2     5     8     1
2     3     6     9     1
3     0     7    10     1

å¤§åŠŸå‘Šæˆï¼

æ•²ä»£ç ï¼Œæœ‰æ—¶å€™ï¼Œå°±æ˜¯è¿™ä¹ˆç®€å•ï¼å“ˆå“ˆå“ˆå“ˆï¼åœ¨ç¼–ç¨‹çš„ä¸–ç•Œé‡Œï¼ŒåŠæ³•æ€»æ˜¯æ¯”å›°éš¾å¤š~

ğŸ‘©å¥½å•¦ï¼Œä»Šå¤©çš„è¯¾ç¨‹å°±åˆ°è¿™é‡Œå•¦ï¼å’±ä»¬ä¸‹æ¬¡è§ï¼~